h1{
    color: red;
}
.para1{
    font-size: medium;
    font-style: normal;
    color: black;
    /* border: 2px solid red; */
    width: 49%;
    text-align: justify;
    text-decoration: none;
    display: inline-block;
    text-align: justify;
    margin-left: 2px;
}
.para2{
    font-size: medium;
    font-style: normal;
    color: black;
    /* border: 2px solid red; */
    width: 49%;
    text-align: justify;
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
}